<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>{GOOGLE-REVERSE-CLIENT-ID}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>naverlogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>{URL-SCHEME}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>kakaologin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao{APP-KEY}</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>{GOOGLE-CLIENT-ID}</string>
	<key>GIDServerClientID</key>
	<string>{GOOGLE-SERVER-CLIENT-ID-OPTIONAL}</string>
	<key>KidNativeAppKey</key>
	<string>{APP-KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaoplus</string>
		<string>kakaotalk</string>
	</array>
	<key>NidAppName</key>
	<string>{APP-NAME}</string>
	<key>NidClientID</key>
	<string>{NAVER-CLIENT-ID}</string>
	<key>NidClientSecret</key>
	<string>{NAVER-CLIENT-SECRET}</string>
	<key>NidUrlScheme</key>
	<string>{URL-SCHEME}</string>
</dict>
</plist>
